# Visual Studio Code

/.vscode/settings.json

# Maven

/target

*.log

*.dll

# Java

*.class

**/resources/native
**/resources/shaders

com_github_nodedev74_jfbx_*.h

**/validation_output.txt

# Draw.io

**/*.drawio.bkp
**/*.drawio.dtmp

**/*.drawio.pdf