# Visual Studio Code

/.vscode/settings.json

# Maven

/target

# Build

*.log

*.dll

com_github_nodedev74_jfbx_*.h

**/validation_output.txt

# Java

*.class

# Draw.io

**/*.drawio.bkp
**/*.drawio.dtmp

**/*.drawio.pdf

# Vulkan

**/*.spv
src/main/java/com/github/nodedev74/jfbx/collections/ObservableList.java
